div(cdkDropListGroup)
  task-list
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
div(style='width: 1px; flex-shrink: 0')