:host {
  // background-color: #e1e1e1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.dashboard-header {
  margin: 0 25px;
  display: flex;
  align-items: center;

  .title {
    flex-grow: 1;
  }
  .add {
    flex-shrink: 0;
    .add-button {
      padding: 10px 15px;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #00d200;
      border-radius: 5px;
      line-height: 1;
      font-weight: 800;
      cursor: pointer;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-closer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #363636;
    opacity: .6;
    z-index: 1;
  }

  .modal-container {
    background-color: #ffffff;
    // height: 300px;
    width: 500px;
    z-index: 100;
    border-radius: 10px;
    padding: 20px;
  }
}

.task-board {
  display: flex;
  overflow-x: auto;
  flex-grow: 1;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.task-list {
  padding: 0 10px;
  width: 300px;
  flex-shrink: 0;
  display: flex;
}

.task-list-content {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: #fbfbfb;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.task-list-header {
  padding: 0 15px;
  margin-bottom: 10px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #b3b3b3;
  h2 {
    font-size: 16px;
  }
}

.task-item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 5px 5px 10px;
  margin-right: 5px;
  border-radius: 5px;

  &::-webkit-scrollbar-track {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.task-item {
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #ffffff;
  min-height: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  &.alert {
    box-shadow: 0 0 3px #ff0000;
    &:hover {
      box-shadow: 0 0 5px #ff0000;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 0 5px #adadad;
    cursor: pointer;
  }

  .header {
    display: flex;
    margin: 5px 10px 0;
    padding-bottom: 1px;
    border-bottom: 1px solid #ececec;
    flex-shrink: 0;

    .repo {
      color: #727272;
      font-size: 10px;
      flex-grow: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .position {
      flex-shrink: 0;
      font-size: 12px;
    }
  }

  .content {
    margin: 0 10px;
    padding: 3px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    div {
      display: inline-block;
    }

    .title {
      .stateIndicator {
        width: 8px;
        height: 8px;
        margin-right: 5px;
        border-radius: 4px;
        &.open {
          background-color: #00aa00;
        }
        &.closed {
          background-color: #aa0000;
        }
        &.merged {
          background-color: #aa00aa;
        }
      }

      span.prNum {
        margin-left: 5px;
        color: #8b8b8b;
        font-style: italic;
        font-size: 12px;
      }
    }
  }

  .footer {
    flex-shrink: 0;
    font-size: 12px;
    margin: 0 10px 8px;
    color: #a5a5a5;
  }
}

.cdk-drag-placeholder {
  // min-height: 100px;
  background-color: #dadada;
  .header, .content, .footer {
    color: #dadada;
  }
  .content {
    .title, .index {
      color: #dadada;
    }
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 10px;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}