.dashboard-title
  h1 Board Title
.task-board(cdkDropListGroup)
  .task-list(*ngFor='let list of lists', [attr.data-list-name]='list.name')
    .task-list-content
      .task-list-header
        h2 {{ list.name }}
      .task-item-container(cdkDropList,(cdkDropListDropped)='drop($event)', [cdkDropListData]='list.tasks')
        .task-item(cdkDrag, *ngFor='let task of list.tasks')
          //- .placeholder(*cdkDragPlaceholder)
          p ID: {{ task.id }}
          p RepoID: {{ task.repoID}}
          p PR Number: {{ task.prNumber }}
          p Title: {{ task.title }}
          p Status: {{ task.status }}
