:host {
  // background-color: #e1e1e1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.dashboard-title {
  margin: 0 25px;
}

.task-board {
  display: flex;
  overflow-x: scroll;
  flex-grow: 1;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.task-list {
  padding: 0 10px;
  width: 300px;
  flex-shrink: 0;
  display: flex;
}

.task-list-content {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: #fbfbfb;
  // padding: 0 10px 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task-list-header {
  padding: 0 10px;
}

.task-item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 10px 5px;
  border-radius: 5px;

  &::-webkit-scrollbar-track {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.task-item {
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #ffffff;
  display: block;
  padding: 10px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 3px 2px #d8d8d8;
  }
}

.cdk-drag-placeholder {
  // min-height: 100px;
  background-color: #dadada;
  color: #dadada;
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 10px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}