div(class='task-board', cdkDropListGroup)
  div(class='task-list', cdkDropList,(cdkDropListDropped)='drop($event)', [cdkDropListData]='tasks')
    task-item(class='task-item', cdkDrag, *ngFor='let task of tasks', [task]='task')
  div(class='task-list', cdkDropList, (cdkDropListDropped)='drop($event)', [cdkDropListData]='toDo')
    task-item(class='task-item', cdkDrag, *ngFor='let task of toDo', [task]='task')
  //- task-list
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
//- task-list(cdkDropList)
div(style='width: 1px; flex-shrink: 0')